/* ================================
   FOOTER
================================ */
footer {
  background-color: var(--nav-bg);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9rem;
  border-top: 1px solid #30363d;
}

/* Small button */
.smallBtn {
  padding: 6px 12px;
  font-size: 0.9rem;
}
